<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Charles' Waifu Database</title>
    <!-- This is the manual override for importing css files with Flask -->
    <!-- If the CSS doesn't reload properly, do CTRL + SHIFT + R to reload cache -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <table class="waifu-table">
        <!-- Table head stuff -->
        <thead>
            <tr>
                <!-- th is for table header cell, td is for table data cell -->
                <th>Name</th>
                <th>Anime</th>
                <th>Rank</th>
            </tr>
        </thead>

        <!-- Table body stuff-->
        {%for i in range(0, len)%}
        <tr>
            <td>{{ waifus[i]["name"] }}</td>
            <td>{{ waifus[i]["anime"] }}</td>
            <td>{{ waifus[i]["rank"] }}</td>
        </tr>
        {%endfor%}
    </table>
    
</body>
</html>