<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Charles' Waifu Database</title>
    <!-- This is the manual override for importing css files with Flask -->
    <!-- If the CSS doesn't reload properly, do CTRL + SHIFT + R to reload cache -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <table class="waifu-table">
        <!-- Table head stuff -->
        <thead>
            <tr>
                <!-- th is for table header cell, td is for table data cell -->
                <th>Rank</th>
                <th>Name</th>
                <th>Anime</th>
                <th>Image</th>
            </tr>
        </thead>

        <!-- Table body stuff-->
        {%for i in range(0, len)%}
        <tr>
            <!-- PyMySQL format -->
            <td>{{ waifus[i]["rank"] }}</td>
            <td>{{ waifus[i]["name"] }}</td>
            <td>{{ waifus[i]["anime"] }}</td>
            
            <!-- If you wanna do online imgs
            <td width="50%"><img src="{{ waifus[i]['image'] }}" width="50%"></td>
            -->

            <!-- If you wanna do local files -->
            <td width="50%"><img src="{{ url_for('static', filename='waifus/')}}{{ waifus[i]['image'] }}" width="50%"></td>
            
            <!-- This is the sqlite3 format
            <td>{{ waifus[i][3] }}</td>
            <td>{{ waifus[i][1] }}</td>
            <td>{{ waifus[i][2] }}</td>
            <td width="50%"><img src="{{ url_for('static', filename='')}}{{ waifus[i][4] }}" width="50%"></td>
            -->
        </tr>
        {%endfor%}
    </table>
    
</body>
</html>